In [1]:
# Import dependencies

# data analysis and wrangling

import pandas as pd
import numpy as np
import os
import math
from datetime import datetime, timedelta
from statistics import mean

# visualization

import matplotlib.pyplot as plt
%matplotlib inline

# machine learning

In [2]:
# Set pandas options

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# Read data files

data_files = ['train.csv', 'test.csv', 'weather_train.csv', 'weather_test.csv', 'building_metadata.csv']
raw_df = {}

for file in data_files:
    raw_df[file[:-4]] = pd.read_csv(os.path.join(os.getcwd(), 'data', file))

# Classifying
We may want to classify or categorize our samples. We may also want to understand the implications or correlation of different classes with our solution goal.

In [4]:
# Function to examine and return missing data from a dataframe as a percentage

def missingdata(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    ms=pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    ms= ms[ms["Percent"] > 0]

    return ms

In [5]:
# Preview the data

# Train & Test data

train_df = raw_df['train'].copy()
test_df = raw_df['test'].copy()

train_df.info(verbose=True, show_counts=True)
print('-'*40)
test_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216100 entries, 0 to 20216099
Data columns (total 4 columns):
 #   Column         Non-Null Count     Dtype
---  ------         --------------     -----
 0   building_id    20216100 non-null  int64
 1   meter          20216100 non-null  int64
 2   timestamp      20216100 non-null  object
 3   meter_reading  20216100 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 616.9+ MB
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41697600 entries, 0 to 41697599
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   row_id       41697600 non-null  int64
 1   building_id  41697600 non-null  int64
 2   meter        41697600 non-null  int64
 3   timestamp    41697600 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.2+ GB

In [6]:
train_df

          building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]

In [7]:
missingdata(train_df)

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [8]:
missingdata(test_df)

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [9]:
# Weather train & Weather test data

weather_train_df = raw_df['weather_train'].copy()
weather_test_df = raw_df['weather_test'].copy()

weather_train_df.info(verbose=True, show_counts=True)
print('-'*40)
weather_train_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             139773 non-null  int64
 1   timestamp           139773 non-null  object
 2   air_temperature     139718 non-null  float64
 3   cloud_coverage      70600 non-null   float64
 4   dew_temperature     139660 non-null  float64
 5   precip_depth_1_hr   89484 non-null   float64
 6   sea_level_pressure  129155 non-null  float64
 7   wind_direction      133505 non-null  float64
 8   wind_speed          139469 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.6+ MB
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             139773 non-null  int64
 1   timestamp           139773 non-null  object
 2   air_temperature     139718 non-null  float64
 3   cloud_coverage      70600 non-null   float64
 4   dew_temperature     139660 non-null  float64
 5   precip_depth_1_hr   89484 non-null   float64
 6   sea_level_pressure  129155 non-null  float64
 7   wind_direction      133505 non-null  float64
 8   wind_speed          139469 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.6+ MB

In [10]:
weather_train_df

        site_id            timestamp  air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  sea_level_pressure  wind_direction  wind_speed
0             0  2016-01-01 00:00:00             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
1             0  2016-01-01 01:00:00             24.4             NaN             21.1               -1.0              1020.2            70.0         1.5
2             0  2016-01-01 02:00:00             22.8             2.0             21.1                0.0              1020.2             0.0         0.0
3             0  2016-01-01 03:00:00             21.1             2.0             20.6                0.0              1020.1             0.0         0.0
4             0  2016-01-01 04:00:00             20.0             2.0             20.0               -1.0              1020.0           250.0         2.6
...         ...                  ...              ...             ...              ...                ...                 ...             ...         ...
139768       15  2016-12-31 19:00:00              3.0             NaN             -8.0                NaN                 NaN           180.0         5.7
139769       15  2016-12-31 20:00:00              2.8             2.0             -8.9                NaN              1007.4           180.0         7.7
139770       15  2016-12-31 21:00:00              2.8             NaN             -7.2                NaN              1007.5           180.0         5.1
139771       15  2016-12-31 22:00:00              2.2             NaN             -6.7                NaN              1008.0           170.0         4.6
139772       15  2016-12-31 23:00:00              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8

[139773 rows x 9 columns]

In [11]:
missingdata(weather_train_df)

                    Total    Percent
cloud_coverage      69173  49.489529
precip_depth_1_hr   50289  35.979052
sea_level_pressure  10618   7.596603
wind_direction       6268   4.484414
wind_speed            304   0.217496
dew_temperature       113   0.080845
air_temperature        55   0.039350

In [12]:
missingdata(weather_test_df)

                     Total    Percent
cloud_coverage      140448  50.658808
precip_depth_1_hr    95588  34.478057
sea_level_pressure   21265   7.670167
wind_direction       12370   4.461790
wind_speed             460   0.165919
dew_temperature        327   0.117947
air_temperature        104   0.037512

In [13]:
# Building metadata

building_df = raw_df['building_metadata'].copy()

building_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site_id      1449 non-null   int64
 1   building_id  1449 non-null   int64
 2   primary_use  1449 non-null   object
 3   square_feet  1449 non-null   int64
 4   year_built   675 non-null    float64
 5   floor_count  355 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 68.0+ KB

In [14]:
building_df

      site_id  building_id                    primary_use  square_feet  year_built  floor_count
0           0            0                      Education         7432      2008.0          NaN
1           0            1                      Education         2720      2004.0          NaN
2           0            2                      Education         5376      1991.0          NaN
3           0            3                      Education        23685      2002.0          NaN
4           0            4                      Education       116607      1975.0          NaN
...       ...          ...                            ...          ...         ...          ...
1444       15         1444  Entertainment/public assembly        19619      1914.0          NaN
1445       15         1445                      Education         4298         NaN          NaN
1446       15         1446  Entertainment/public assembly        11265      1997.0          NaN
1447       15         1447            Lodging/residential        29775      2001.0          NaN
1448       15         1448                         Office        92271      2001.0          NaN

[1449 rows x 6 columns]

In [15]:
missingdata(building_df)

             Total    Percent
floor_count   1094  75.500345
year_built     774  53.416149

# Charting
How to select the right visualization plots and charts depending on nature of the data and the solution goals.

# Correcting
We may also analyze the given training dataset for errors or possibly inaccurate values within features and try to correct these values or exclude the samples containing the errors. One way to do this is to detect any outliers among our samples or features. We may also completely discard a feature if it is not contributing to the analysis or may significantly skew the results.

In [16]:
# Correcting by dropping features with a lot of missing data

weather_drop = ['cloud_coverage', 'precip_depth_1_hr', 'sea_level_pressure']
building_drop = ['floor_count', 'year_built']

weather_train_df.drop(weather_drop, axis=1, inplace=True)
weather_test_df.drop(weather_drop, axis=1, inplace=True)
building_df.drop(building_drop, axis=1, inplace=True)

# Converting
For modeling stage, one needs to prepare the data. Depending on the choice of model algorithm one may require all features to be converted to numerical equivalent values. So for instance converting text categorical values to numeric values.

In [17]:
# Converting timestamp from object to datetime

combined = [train_df, test_df, weather_train_df, weather_test_df]

for df in combined:
    df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)

In [18]:
# Mapping primary_use category in building metadata

primary_use_map = {'Education': 1, 'Office': 2, 'Entertainment/public assembly': 3, 'Lodging/residential': 4,
                   'Public services': 5, 'Healthcare': 6, 'Other': 7, 'Parking': 8, 'Manufacturing/industrial': 9,
                   'Food sales and service': 10, 'Retail': 11, 'Warehouse/storage': 12, 'Services': 13, 
                   'Technology/science': 14, 'Utility': 15, 'Religious worship': 16}

building_df['primary_use'] = building_df['primary_use'].map(primary_use_map).astype(np.int64)

In [ ]:
# Banding square_feet category in building metadata

# Completing
Data preparation may also require us to estimate any missing values within a feature. Model algorithms may work best when there are no missing values.

In [19]:
# Function to estimate weather null values based on the averages of 
# the previous and post known values

def estimate_weather(df, col):
    null_dex = list(df.loc[df[col].isna()]['timestamp'].index)
    for dex in null_dex:
        if math.isnan(df[col][dex+1]):
            df[col][dex] = df[col][dex-1]
        else:
            df[col][dex] = round(mean([df[col][dex-1],df[col][dex+1]]), 1)
    return df[col]

In [20]:
# Estimating the values for weather data using the average from the previous & following hour

weather_combined = [weather_train_df, weather_test_df]
col_to_complete = ['wind_direction', 'wind_speed', 'dew_temperature', 'air_temperature']

for w_df in weather_combined:
    for c in col_to_complete:
        w_df[c] = estimate_weather(w_df, c)

# Creating
Can we create new features based on an existing feature or a set of features, such that the new feature follows the correlation, conversion, completeness goals.

In [ ]:
# Adding columns for month, hour, and day of the week from timestamp

# combined = [train_df, test_df, weather_train_df, weather_test_df]

# for df in combined:
#     df['month'] = df.timestamp.dt.month
#     df['hour'] = df.timestamp.dt.hour
#     df['day_of_week'] = df.timestamp.dt.dayofweek

In [ ]:
# Creating new humidity feature calculated from air & dew temperature

# Calculation formula source: https://www.weather.gov/media/epz/wxcalc/vaporPressure.pdf

# e_s = 6.11 * 10 * ((7.5 * weather_train_df['air_temperature'][0])/(237.3 + weather_train_df['air_temperature'][0]))
# e = 6.11 * 10 * ((7.5 * weather_train_df['dew_temperature'][0])/(237.3 + weather_train_df['dew_temperature'][0]))

# weather_train_df['humidity'] = round(e / e_s * 100, 1)
# weather_train_df['humidity']

# Correlating
One can approach the problem based on available features within the training dataset. Which features within the dataset contribute significantly to our solution goal? Statistically speaking is there a correlation among a feature and solution goal? As the feature values change does the solution state change as well, and visa-versa? This can be tested both for numerical and categorical features in the given dataset. We may also want to determine correlation among features other than survival for subsequent goals and workflow stages. Correlating certain features may help in creating, completing, or correcting features.

In [21]:
# Merge dataframes

train_merged = train_df.merge(building_df, on='building_id', how='left')
train_merged = train_merged.merge(weather_train_df, on=['site_id', 'timestamp'], how='left')

In [22]:
test_merged = test_df.merge(building_df, on='building_id', how='left')
test_merged = test_merged.merge(weather_test_df, on=['site_id', 'timestamp'], how='left')

In [23]:
# Adding columns for month, hour, and day of the week from timestamp

combined = [train_merged, test_merged]

for df in combined:
    df['month'] = df.timestamp.dt.month
    df['hour'] = df.timestamp.dt.hour
    df['day_of_week'] = df.timestamp.dt.dayofweek

In [24]:
# Drop redundant columns

train_merged.drop('timestamp', axis=1, inplace=True)
test_merged.drop('timestamp', axis=1, inplace=True)

In [25]:
train_merged.head()

   building_id  meter  meter_reading  site_id  primary_use  square_feet  air_temperature  dew_temperature  wind_direction  wind_speed  month  hour  day_of_week
0            0      0            0.0        0            1         7432             25.0             20.0             0.0         0.0      1     0            4
1            1      0            0.0        0            1         2720             25.0             20.0             0.0         0.0      1     0            4
2            2      0            0.0        0            1         5376             25.0             20.0             0.0         0.0      1     0            4
3            3      0            0.0        0            1        23685             25.0             20.0             0.0         0.0      1     0            4
4            4      0            0.0        0            1       116607             25.0             20.0             0.0         0.0      1     0            4

# Model, predict and solve
Now we are ready to train a model and predict the required solution. There are 60+ predictive modelling algorithms to choose from. We must understand the type of problem and solution requirement to narrow down to a select few models which we can evaluate. Our problem is a classification and regression problem. We are also performing a category of machine learning which is called supervised learning as we are training our model with a given dataset. With these two criteria - Supervised Learning plus Classification and Regression, we can narrow down our choice of models to a few.

In [60]:
# Seperate dataframes by site_id and meter_id

train_split = {}

for i in train_merged['site_id'].unique():
    for j in train_merged['meter'].unique():
        train_split[str(i)+'_'+str(j)] = train_merged.loc[(train_merged['site_id'] == i) & (train_merged['meter'] == j)]

MemoryError: Unable to allocate 34.7 MiB for an array with shape (5, 908409) and data type float64